__pycache__
.vscode
datasets
tmp/*
saved_imgs/*
config/plot_config
post_process/*
outputs
.vscode
_.py
nohup.out 
run_script.sh
run_script2.sh
test.ipynb
run_script3.sh
.gitignore
run_script4.sh
config/plot_config/plot_config.json
